@model happylifeluxury.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/Admin/_LayoutLogin.cshtml";
    ViewData["Title"]="Login";
}

<div class="container">
	<div class="row d-flex justify-content-center mt-5">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card py-3 px-2 align-middle">
				<p class="text-center mb-3 mt-2">Giriş Yap</p>
                    @if (TempData["Success"]!=null)
                    {
                        <div class="alert alert-success mt-1" role="alert">@TempData["success"]</div>
                    }
                    @if (TempData["Danger"]!=null)
                    {
                        <div class="alert alert-danger mt-1" role="alert">@TempData["Danger"]</div>
                    }
				<form action="/admin/login" method="post" class="myform">
                @Html.AntiForgeryToken()
					<div class="form-group">
    					<input type="text" asp-for="Username" name="Username" class="form-control" placeholder="Username">
                        <span class="text-danger" style="font-size: 0.875rem;" asp-validation-for="Username"></span>
  					</div>
 					<div class="form-group">
    					<input type="password" asp-for="Password"name="Password" class="form-control" placeholder="Password">
                        <span class="text-danger" style="font-size: 0.875rem;" asp-validation-for="Password"></span>
  					</div>
  					<div class="row">
  						<div class="col-md-6 col-12">
  							<div class="form-group form-check">
    							<input type="checkbox" class="form-check-input" id="exampleCheck1">
    							<label class="form-check-label" for="exampleCheck1">Beni hatırla</label>
  							</div>
  						</div>
  						<div class="col-md-6 col-12 bn">Şifremi unuttum</div>
  					</div>
  					<div class="form-group mt-3">
  						<button type="submit" class="btn btn-block btn-primary btn-lg"><small><i class="far fa-user pr-2"></i>Giriş Yap</small></button>
  					</div>
				</form>
			</div>
		</div>
	</div>
</div>