<footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    
                  </a>
                </li>
                
              </ul>
            </nav>
            <div class="copyright">
              
              <a href="/">Remons</a>
            </div>
            @* <div>
              Distributed by
              <a target="_blank" href="#">Remons</a>.
            </div> *@
          </div>
        </footer>