@model happylifeluxury.Models.IndexViewModel;

<div class="card col-6">
    <div class="card-body">
        <h5 class="card-title">Ek Sürücü</h5>
        <p class="card-text">Aracın, kiralayan şahıs dışındaki kişi ve/veya kişilerce kullanılabilmesini sağlamaktadır.
            Araç teslimi için ek sürücünün, ana sürücü ile birlikte ofiste bulunması gereklidir.</p>

        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" id="decrease">-</button>
            <input type="number" class="form-control text-center" id="driverCount" value="0" min="0">
            <button class="btn btn-outline-secondary" id="increase">+</button>
        </div>
        <p class="card-text"> / Gün</p>
    </div>
</div>